.slick-dots {
	bottom: 20px;
}

.slick-dots li {
	width: 12px;
	height: 12px;
	background-color: #888888;
	border-radius: 50%;
}

.slick-dots li.slick-active {
	background-color: #ffffff;
}

.slick-track {
	display: flex !important;
	align-items: center;
	justify-content: center;
}
