.breadcrumbs {
	display: flex;
	align-items: center;
	margin-top: 75px;
	font-size: 14px;
}

.breadcrumbs .ant-breadcrumb-separator {
	margin: 0 8px;
}

.breadcrumbs .ant-breadcrumb-link {
	color: #1890ff;
	text-decoration: none;
}

.breadcrumbs .ant-breadcrumb-link:hover {
	text-decoration: underline;
}
