/* src/styles.css */
body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #f0f2f5;
}

.ant-typography {
	text-align: center;
}

.ant-card {
	border-radius: 8px;
	transition: transform 0.3s;
}

.ant-card:hover {
	transform: translateY(-10px);
}

.ant-row {
	margin: 0 auto;
}

.ant-avatar {
	margin-bottom: 20px;
}

a:hover {
	color: #1890ff;
}
