.header {
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	padding: 16px;
	color: #ffffff;
	background-color: #001529;
}

.content {
	margin-top: 60px;

	/* Ajusta el valor según el tamaño del encabezado */
}

.logo {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

.menu-logo {
	display: flex;
	align-items: center;
}

.avatar {
	display: flex;
	align-items: center;
}

.search {
	display: flex;
	width: 20%;
	margin: 0 16px;
}

.actions {
	display: flex;
	align-items: center;
}

.css-dev-only-do-not-override-1m62vyb {
	color: #1890ff;
}

.ant-avatar {
	margin-bottom: inherit !important;
}

.user-name {
	margin-right: 10px;
	margin-left: 10px;
}

.menu-layout {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.5);
	height: 0;
}

@media (width <=902px) {
	.actions {
		display: none;
	}
}

@media (width <=768px) {
	.actions {
		display: none;
	}

	.user-name {
		display: none;
	}
}

@media (width <=480px) {
	.menu-layout {
		display: none;
	}

	.user-name {
		display: none;
	}

	.actions {
		display: none;
	}
}