.menu {
	position: absolute;
	top: 75px;
	z-index: 5000;
	max-height: 0;
	overflow: hidden;
	font-size: 16px;
	background-color: #001529;
	border: none;
	transition: max-height 0.3s ease;
}

.menu.open {
	max-height: 250px;

	/* Altura máxima deseada para el menú desplegado */
}

.container-menu {
	display: flex;
	margin-right: 10px;
}

.drawer .drawer-header {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.drawer .user-info {
	margin-left: 16px;
}

.drawer .user-name {
	font-weight: bold;
	font-size: 18px;
}

.drawer .logout-button {
	margin-top: 8px;
}

.drawer-button {
	padding: 10px 20px; /* Espaciado interior */
	color: white; /* Color del texto */
	font-size: 18px; /* Tamaño de la fuente */
	background-color: #001529; /* Color de fondo personalizado */
	border: none;
	border-radius: 8px; /* Bordes redondeados */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
	transition: all 0.3s ease; /* Transición para efectos */
}

.drawer-button:hover {
	color: white; /* Color del texto al pasar el ratón */
	background-color: #1890ff; /* Color de fondo al pasar el ratón */
	transform: translateY(-2px); /* Efecto de desplazamiento hacia arriba */
}

@media (width <= 768px) {
	.site-layout-content {
		padding: 16px;
	}

	.header {
		flex-direction: column;
	}
}
